body {
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.home-styles {
  background-color: #e8f1f5;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #0007;
  margin-top: 100px;
  border: 1px solid #1b4d89;
  overflow: hidden;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 25px;
}

.header-container img {
  width: 160px;
  margin: auto;
}

.home-tittle {
  font-size: 4rem;
  color: #1b4d89;
}

.main-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home-button-container {
  display: grid;
  grid-template-rows: repeat(3, 1f);
}

.button_container {
  margin: auto;
  margin-bottom: 20px;
}

.instructions {
  border-radius: 30px;
  margin-right: 30px;
  font-size: 25px;
  color: #3a3a3a;
}

.button-view {
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  padding: 32px 76px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
  text-align: center;
}
.button-view:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
}
.button-view:active {
  position: relative;
  top: 1px;
}

.button-add {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 28px;
  font-weight: bold;
  padding: 32px 76px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
  text-align: center;
}
.button-add:hover {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
}
.button-add:active {
  position: relative;
  top: 1px;
}

.button-edit {
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 28px;
  font-weight: bold;
  padding: 32px 76px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  text-align: center;
}
.button-edit:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}
.button-edit:active {
  position: relative;
  top: 1px;
}

.mini-footer {
  text-align: center;
  font-weight: bold;
  background-color: #ffffff;
  margin-top: 15px;
}

@media screen and (max-width: 1000px) {
  .home-styles {
    width: 100%;
    margin: auto;
  }

  .container {
    margin: 55px 15px;
    padding: 0;
    display: grid;
    min-width: 95%;
    justify-items: center;
    place-items: center;
  }
}
